@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.signin-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signin-logo {
  height: 30vmin;
  pointer-events: none;
}

.signin-form {
  width: 60%;
  min-width: 100px;
  height: 50%;
  display: table;
  margin: auto;
}

.signin-btn {
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #24292e;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  margin-top: 15px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

.signin-btn:hover {
  background-color: lightgray;
  transition-duration: 0.1s;
}
